<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <form name="signInForm" class="form-signin" novalidate>
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" class="form-control"
                       ng-model="data.username"
                       ng-change="changedUsername=true"
                       name="username"
                       placeholder="Username" required autofocus>
                <input type="password" class="form-control"
                       ng-model="data.password"
                       ng-change="changedPassword=true"
                       name="password"
                       placeholder="Password" required>
                <div class="alert alert-danger"
                     ng-show="(changedUsername || submitted) && signInForm.username.$error.required">
                    <strong>Error!</strong> Please fill out username.
                </div>
                <div class="alert alert-danger"
                     ng-show="(changedPassword || submitted) && signInForm.password.$error.required">
                    <strong>Error!</strong> Please fill out password.
                </div>
                <div class="alert alert-danger"
                     ng-show="submitted && error.error">
                    <strong>Error!</strong> {{error.message}}
                </div>
                <button class="btn btn-lg btn-success"
                        ng-click="submitted=true; signIn(data);"
                        ng-disabled="signInForm.$invalid || isUnchanged(data)">Sign in</button>
                <button class="btn btn-lg btn-warning pull-right"
                        ng-click="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>