<div class="jumbotron">
    <h2>Keeper quotes</h2>
    <p class="lead text-success">We implemented small app - "Keeper quotes". We earnestly recommend you to check it out and use it as a starting point for your own web-applications. Enjoy!</p>
    <small class="text-info">An application database refreshes every hour</small>
</div>

<div class="marketing ">
    <div class="panel panel-success user" ng-repeat="user in users">
        <div class="panel-body row">
            <div class="col-md-1">
                <img ng-src="{{user.avatar || 'uploads/images/users/matrix.jpeg'}}"/>
                <h5>{{user.username}}</h5>
            </div>
            <div class="col-md-11">
                <h6>Quotes:</h6>
                <ul class="quotes list-group">
                    <li class="quote list-group-item" ng-repeat="quote in user.quotes">
                        <p class="list-group-item-text">{{quote}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="well addQuote" style="max-width: 600px; margin: 0 auto 10px;" ng-show="user" novalidate>
    <form name="addQuoteForm" class="form-horizontal"
          ng-submit="addQuote(data)">
        <h3 class="header">{{user.username}} add your quote here</h3>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <textarea class="form-control"
                          ng-model="data.quotes" name="quotes"
                          ng-change="changed=true"
                          placeholder="Quote" required autofocus></textarea>
            </div>
        </div>
        <div class="alert alert-danger col-sm-offset-1 col-sm-10"
             ng-show="changed && addQuoteForm.quotes.$error.required">
            <strong>Error!</strong> Please fill out quote.
        </div>
        <div class="form-group ">
            <div class="col-sm-offset-3 col-sm-6">
                <button class="btn btn-lg btn-success btn-block" type="submit"
                        ng-click="signIn(data); changed=false;"
                        ng-disabled="addQuoteForm.$invalid || isUnchanged(data)">Add</button>
            </div>
        </div>
    </form>
</div>